*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 95vh;
    padding: 5px;
    display: flex;
}
.left, .right{
    flex-basis: 50%;
    padding: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left .box{
    height: 26vh;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 0px 7px 7px;
}
textarea:focus{
    background-color: rgba(0, 0, 0, 0.818);
}
iframe{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    border: none;
    outline: none;
    border-radius: 0px 0px 7px 7px;
}
label i{
    margin: 0 10px;
}
label{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    height: 30px;
    border-radius: 7px 7px 0px 0px;
}
.fa-brands, .fa-solid{
    color: aqua;
}
