*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 95vh;
    padding: 5px;
    display: flex;
}
.left, .right{
    padding: 10px;
    flex-grow: 1;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left .box{
    height: 26vh;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 0px 7px 7px;
}
textarea:focus{
    background-color: rgba(0, 0, 0, 0.818);
}
iframe{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    border: none;
    outline: none;
    border-radius: 0px 0px 7px 7px;
}
label i{
    margin: 0 10px;
}
label{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    height: 30px;
    border-radius: 7px 7px 0px 0px;
}
.fa-brands, .fa-solid{
    color: aqua;
}
.splitter {
    width: 8px;
    cursor: col-resize;
    background-color: #555; /* Neutral color */
    flex-shrink: 0;
    transition: background-color 0.15s ease-in-out; /* Smooth transition */
    border-radius: 7px;
    height: 99vh;
}
.splitter:hover {
    background-color: #333;
}